rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuth() {
      return request.auth != null;
    }

    function isAdmin(project) {
      return isAuth() && request.auth.uid == project.userId;
    }

    function isAllowed(project) {
      return isAuth() && (isAdmin(project) || request.auth.token.email_verified && request.auth.token.email in project.allowedUsers);
    }

    match /projects/{projectId} {
      allow read: if isAllowed(resource.data);
      allow update, delete: if isAllowed(resource.data);
      allow create: if isAuth();

      match /firstnames/{firstname} {
        allow read, update, delete, create: if isAllowed(get(/databases/$(database)/documents/projects/$(projectId)).data);
      }
    }

    match /{document=**} {
      allow create, read, update, delete: if false;
    }
  }
}
